ion-grid {
    padding: 3%;
}

.ion-button-blue {
    width: 160px;
    height: 40px;
    min-height: 40px;
    --background: var(--unnamed-color-469fd1) 0% 0% no-repeat padding-box;
    background: #469FD1 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
}

.ion-button-green {
    width: 160px;
    height: 40px;
    min-height: 40px;
    --background: var(--unnamed-color-469fd1) 0% 0% no-repeat padding-box;
    background: #1F8447 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
}

.font-16 {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 16px/19px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.font-14 {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-707070);
    text-align: left;
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.no-padding {
    padding: 0;
}

.ion-select-T {
    height: 40px;
    min-height: 40px;
    --background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 0.5px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #707070;
    border-radius: 2px;
    opacity: 1;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-left {
    display: flex;
    align-items: center;
    justify-content: start;
}

.center-right {
    display: flex;
    align-items: center;
    justify-content: end;
}

.card-toolbar {
    width: 398px;
    height: 40px;
    background: var(--unnamed-color-469fd1) 0% 0% no-repeat padding-box;
    background: #469FD1 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 2px;
    opacity: 1;
}

.iconbar {
    font-size: 20px;
    color: #FFFFFF;
}

.input {
    // width: 70px;
    height: 40px;
    min-height: 40px;
    border: 0.5px solid var(--unnamed-color-707070);
    border: 0.5px solid #707070;
    border-radius: 2px;
    opacity: 1;
}

.icon {
    font-size: 20px;
    color: #469FD1;
}

ion-textarea {
    height: 90px;
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 0.5px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #707070;
    border-radius: 2px;
    opacity: 1;
}

.font-12 {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 12px/var(--unnamed-line-spacing-19) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-707070);
    text-align: left;
    font: normal normal normal 12px/19px Roboto;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}