

<ion-menu side="end" menuId="first-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>First Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item routerLink="/tabs/inbox">
          <ion-icon name="mail-outline"></ion-icon>
          <h1>Inbox</h1>
    </ion-item>
  </ion-content>
</ion-menu>

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="new-job" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
      <ion-label>New Job</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="job" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="briefcase-outline"></ion-icon>
      <ion-label>Job</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacts" href="/tabs/tab3">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Contacts</ion-label>
    </ion-tab-button>


    <ion-tab-button (click)="openFirstMenu()" id="main-content">
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
