<ion-grid style="background-color: white; border-color: white; border: 10px solid #ffff; height: 120px; width: 100%;">
  <ion-row style="height: 100%;">
    <ion-col size-xs="5" size-sm="4" size-md="3" size-lg="2"  size-xl="1" style=" display: flex; align-items: center; justify-content: center;">
      <ion-img src="/assets/images/ecmlogo (2).png"></ion-img>
    </ion-col>
    <ion-col size-xs="7" size-sm="8" size-md="9" size-lg="10"  size-xl="11" style="display: flex; align-items: flex-end; ">
      <ion-searchbar class="custom" placeholder="Search Booking..."></ion-searchbar>
    </ion-col>
  </ion-row>
</ion-grid>