ion-img {
    width: 120px;
    height: 50px;
}

ion-searchbar.custom {
    font-size: 5px !important;
    --background: #FFFF;
    --border-radius: 10px;

    --box-shadow: 0 0 0 1px #469FD1;
    --icon-color: #469FD1;
    --color: #469FD1;

    //font
    text-align: left;
    font: normal normal normal 12px/14px Roboto;
    letter-spacing: 0px;
    color: #469FD1;
    opacity: 1;
}